#message_content{
	margin: 4em auto;
	padding: 10px;
	text-align: justify;
	max-width: 80%;
}

.button{
	margin: 10px auto;
	min-width: 60%;
}

.button_container{
	height: 100vh;
	margin-left: 3vw;
	margin-top: 10px;
	width: 22vw;
	float: left;
}

.list{
		width: 100vw;
		text-align: center;
		font-size: 24px;
}


.key{
	height: 9vh;
	width: 14vw;
	background-color: #d9d9d9;
	border: 3px solid #696969;
	margin: 6px auto;
	margin-left: 1px;
	text-align: center;
	border-radius: 25px;
}

.dead_key{
	height: 9vh;
	width: 14vw;
	background-color: #ff7f7f;
	border: 3px solid #4c0000;
	margin: 7px auto;
	margin-left: 1px;
	text-align: center;
	border-radius: 25px;
}

.highlight_key{
	height: 9vh;
	width: 14vw;
	background-color: #00FF00!important;
	border: 3px solid #00FF00;
	margin: 7px auto;
	margin-left: 1px;
	text-align: center;
	border-radius: 25px;
}

.button_text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}
