#message_content{
	margin: 4em auto;
	padding: 10px;
	text-align: justify;
	max-width: 80%;
}

.bar {
  padding-left: 0;
}

.list {
  padding-left: 0;
  width: 100%;
}

.item-select select {
  max-width: 100%;
}

#settings {
  position: fixed;
  bottom: 3vh;
  background: blue;
  font-size: 1.5em;
  width: 100%;
  height: 10%;
  color: white;
}

.item-input {
  height: 100%;
  width: 100%;
}

.button_container{
	height: 80vh;
	margin-left: 4vw;
	margin-top: 10px;
	width: 20vw;
	float: left;
}

.button_container_last {
  margin-right: 4vw;
}

#content {
  margin-top: 7vh;
  height: 80vh;
}

.list{
		width: 100vw;
		text-align: center;
		font-size: 24px;
}

.key{
	height: 6vh;
	width: 70%;
	background-color: #d9d9d9;
	border: 3px solid #696969;
	margin-top: 1vh;
  margin-bottom: 1vh;
	margin-left: 15%;
  margin-right: 15%;
	text-align: center;
	border-radius: 25px;
}

.dead_key{
	background-color: #ff7f7f !important;
	border: 3px solid #4c0000 !important;
}

.button_text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}

.popup-buttons > button {
  background: #e3f2fd;
}

.popup-container .popup{
  background :  #3f51b5;
}

.popup-body input {
  padding-left: 5px;
}

.popup-head h3 {
  color: white;
}

.popup-head h5 {
  color: white;
}

.hidden-button-container {
  width: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: none;
}

.column-select-button {
  width: 100%;
  height: 5vh;
  background: indigo;
  margin-bottom: 3vh;
}

.hidden-word-labels {
  display: none;
}

#word_labels {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70vw;
  height: 71vh;
}

.word-label {
  font-size: 2em;
  height: 6vh;
  margin-top: 1.4vh;
  margin-bottom: 2vh;
  line-height: 6vh;
}
